<!-- /templates/core/pagina_professor.html -->
<!-- Página exclusiva do professor para expressar intenções de atribuição de aulas. -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Professor</title>
    <style>
        button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        select, input {
            padding: 5px;
            margin-top: 5px;
            display: block;
            width: 100%;
        }
        .school-container {
            margin-top: 15px;
        }
        .turmas-container {
            margin-top: 10px;
        }
        .prioridade-container {
            margin-left: 15px;
        }
        .selected {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='/logout/'" style="float: right; margin: 10px;">Logout</button>
    <h1>Página do Professor</h1>
    <h2>Informações de {{ professor.nome }}</h2>

    <!-- Informações do Professor -->
    <form method="POST" action="{% url 'atualizar_professor' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Nome</th>
                <td><input type="text" id="nome" name="nome" value="{{ professor.nome }}" disabled></td>
            </tr>
            <tr>
                <th>Pontuação PEB</th>
                <td>{{ professor.pontuacao_peb }}</td>
            </tr>
            <tr>
                <th>Pontuação PAEB</th>
                <td>{{ professor.pontuacao_paeb }}</td>
            </tr>
            <tr id="row_disciplina_peb" style="display: {% if professor.cargo in 'PEB AMBOS' %}table-row{% else %}none{% endif %};">
                <th>Disciplina PEB</th>
                <td>
                    <select id="disciplina_peb" name="disciplina_peb" disabled>
                        <option value="portugues" {% if professor.disciplina_peb == 'portugues' %}selected{% endif %}>Português</option>
                        <option value="matematica" {% if professor.disciplina_peb == 'matematica' %}selected{% endif %}>Matemática</option>
                        <option value="ciencias" {% if professor.disciplina_peb == 'ciencias' %}selected{% endif %}>Ciências</option>
                        <option value="historia" {% if professor.disciplina_peb == 'historia' %}selected{% endif %}>História</option>
                        <option value="geografia" {% if professor.disciplina_peb == 'geografia' %}selected{% endif %}>Geografia</option>
                        <option value="arte" {% if professor.disciplina_peb == 'arte' %}selected{% endif %}>Arte</option>
                        <option value="ingles" {% if professor.disciplina_peb == 'ingles' %}selected{% endif %}>Inglês</option>
                        <option value="educacao_fisica" {% if professor.disciplina_peb == 'educacao_fisica' %}selected{% endif %}>Educação Física</option>
                    </select>
                </td>
            </tr>
            <tr id="row_disciplina_paeb" style="display: {% if professor.cargo in 'PAEB AMBOS' %}table-row{% else %}none{% endif %};">
                <th>Disciplina PAEB</th>
                <td>
                    <select id="disciplina_paeb" name="disciplina_paeb" disabled>
                        <option value="portugues" {% if professor.disciplina_paeb == 'portugues' %}selected{% endif %}>Português</option>
                        <option value="matematica" {% if professor.disciplina_paeb == 'matematica' %}selected{% endif %}>Matemática</option>
                        <option value="ciencias" {% if professor.disciplina_paeb == 'ciencias' %}selected{% endif %}>Ciências</option>
                        <option value="historia" {% if professor.disciplina_paeb == 'historia' %}selected{% endif %}>História</option>
                        <option value="geografia" {% if professor.disciplina_paeb == 'geografia' %}selected{% endif %}>Geografia</option>
                        <option value="arte" {% if professor.disciplina_paeb == 'arte' %}selected{% endif %}>Arte</option>
                        <option value="ingles" {% if professor.disciplina_paeb == 'ingles' %}selected{% endif %}>Inglês</option>
                        <option value="educacao_fisica" {% if professor.disciplina_paeb == 'educacao_fisica' %}selected{% endif %}>Educação Física</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>CPF</th>
                <td><input type="text" id="cpf" name="cpf" value="{{ professor.cpf }}" disabled></td>
            </tr>
            <tr>
                <th>Celular</th>
                <td><input type="text" id="celular" name="celular" value="{{ professor.celular }}" disabled required></td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>
                    <select id="cargo" name="cargo" onchange="toggleDisciplinas()" disabled required>
                        <option value="PEB" {% if professor.cargo == 'PEB' %}selected{% endif %}>PEB</option>
                        <option value="PAEB" {% if professor.cargo == 'PAEB' %}selected{% endif %}>PAEB</option>
                        <option value="AMBOS" {% if professor.cargo == 'AMBOS' %}selected{% endif %}>AMBOS</option>
                    </select>
                </td>
            </tr>
        </table>

        <!-- Botões de ação -->
        <button type="button" id="editButton" onclick="enableEdit()">Alterar</button>
        <button type="submit" id="saveButton" style="display: none;">Salvar</button>
        <button type="button" id="cancelButton" style="display: none;" onclick="cancelEdit()">Cancelar</button>
    </form>

    <!-- Escolha de Escolas e Turmas -->
    <form method="POST" action="/professor/atribuir/">
        {% csrf_token %}
        <h3>Selecione até 5 escolas</h3>
        <div id="school-container">
            {% for escola in escolas %}
                <div class="school-container">
                    <label>
                        <input type="checkbox" name="escolas" value="{{ escola.id }}" style="display: none;" onchange="handleSchoolSelection(this)" id="escola-{{ escola.id }}">
                        <button type="button" class="escola-button" onclick="toggleSchool('escola-{{ escola.id }}')">{{ escola.nome }} <span title="{{ escola.endereco }}">(endereço: {{ escola.endereco }})</span></button>
                    </label>
                    <div id="turmas-container-{{ escola.id }}" class="turmas-container" style="display:none;">
                        <div id="turmas-matutino-{{ escola.id }}">
                            <h4>Turmas Matutino</h4>
                            {% for turma in escola.turmas_matutino_lista %}
                                <input type="hidden" name="turmas-matutino-{{ escola.id }}[]" value="{{ turma }}" id="turma-matutino-{{ escola.id }}-{{ forloop.counter0 }}" disabled>
                                <button type="button" class="turma-button" onclick="selecionarTurma(this, 'turma-matutino-{{ escola.id }}-{{ forloop.counter0 }}')">{{ turma }}</button>
                            {% endfor %}
                        </div>
                        <div id="turmas-vespertino-{{ escola.id }}">
                            <h4>Turmas Vespertino</h4>
                            {% for turma in escola.turmas_vespertino_lista %}
                                <input type="hidden" name="turmas-vespertino-{{ escola.id }}[]" value="{{ turma }}" id="turma-vespertino-{{ escola.id }}-{{ forloop.counter0 }}" disabled>
                                <button type="button" class="turma-button" onclick="selecionarTurma(this, 'turma-vespertino-{{ escola.id }}-{{ forloop.counter0 }}')">{{ turma }}</button>
                            {% endfor %}
                        </div>
                        <div class="prioridade-container">
                            <label for="prioridade-{{ escola.id }}">Prioridade:</label>
                            <select id="prioridade-{{ escola.id }}" name="prioridade-{{ escola.id }}" onchange="updatePriorities()">
                                <option value="" selected>Selecione</option>
                                {% for prioridade in prioridades %}
                                    <option value="{{ prioridade }}">{{ prioridade }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <!-- Botão para salvar -->
        <button type="submit">Salvar Escolhas</button>
    </form>
     <!-- Tabela de Turmas Selecionadas -->
<table id="tabela-turmas" style="width: 100%; border: 1px solid black; margin-top: 20px;">
    <thead>
        <tr>
            <th>Escola</th>
            <th>Turmas</th>
            <th>Período</th>
            <th>Prioridade</th>
            <th>Concorrência</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for escolha in escolhas %}
        <tr>
            <!-- Nome da Escola -->
            <td>{{ escolha.escola.nome }}</td>

            <!-- Turmas -->
            <td>
                {% for turma in escolha.turmas_lista %}
                    <strong>{{ turma }}</strong>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>

            <!-- Período -->
            <td>{{ escolha.periodo }}</td>

            <!-- Prioridade -->
            <td>{{ escolha.prioridade }}</td>

            <!-- Concorrência -->
            <td>
                {% for turma in escolha.turmas_lista %}
                    {% for concorrencia in concorrencia_lista %}
                        {% if concorrencia.escola == escolha.escola.nome and concorrencia.turma == turma %}
                            {{ concorrencia.concorrencia|safe }}
                        {% endif %}
                    {% endfor %}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </td>

            <!-- Ações -->
            <td>
                <form method="POST" action="/professor/remover_escolha/">
                    {% csrf_token %}
                    <input type="hidden" name="escolha_id" value="{{ escolha.id }}">
                    <button type="submit" style="background-color: red; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">Remover</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" style="text-align: center;">Nenhuma escolha feita ainda.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <!-- Scripts atualizados -->
    <script>
        let usedPriorities = {}; // Armazena prioridades usadas

        function toggleDisciplinas() {
            const cargo = document.getElementById("cargo").value;
            const disciplinaPEBRow = document.getElementById("row_disciplina_peb");
            const disciplinaPAEBRow = document.getElementById("row_disciplina_paeb");

            disciplinaPEBRow.style.display = cargo === "PEB" || cargo === "AMBOS" ? "table-row" : "none";
            disciplinaPAEBRow.style.display = cargo === "PAEB" || cargo === "AMBOS" ? "table-row" : "none";
        }

        function enableEdit() {
            document.querySelectorAll('input, select').forEach(element => {
                if (element.id !== "cpf") {  // CPF não pode ser editado
                    element.disabled = false;
                }
            });
            document.getElementById('saveButton').style.display = 'inline-block';
            document.getElementById('cancelButton').style.display = 'inline-block';
        }

        function cancelEdit() {
            document.querySelectorAll('input, select').forEach(element => {
                if (element.id !== "cpf") {
                    element.disabled = true;
                }
            });
            document.getElementById('saveButton').style.display = 'none';
            document.getElementById('cancelButton').style.display = 'none';
            location.reload();
        }

        function toggleSchool(checkboxId) {
    const checkbox = document.getElementById(checkboxId);
    checkbox.checked = !checkbox.checked; // Alterna o estado do checkbox

    const escolaId = checkbox.value; // Obtém o valor do checkbox
    const turmasContainer = document.getElementById(`turmas-container-${escolaId}`);

    if (checkbox.checked) {
        turmasContainer.style.display = "block"; // Expande as turmas
    } else {
        turmasContainer.style.display = "none"; // Oculta as turmas
        clearPrioritiesAndSelections(escolaId);
    }
}



        function handleSchoolSelection(checkbox) {
            const turmasContainer = document.getElementById(`turmas-container-${checkbox.value}`);
            if (checkbox.checked) {
                turmasContainer.style.display = "block";
            } else {
                turmasContainer.style.display = "none";
                 clearPrioritiesAndSelections(checkbox.value);
            }
        }


        function clearPrioritiesAndSelections(schoolId) {
            document.getElementById(`prioridade-${schoolId}`).value = "";
            const turmaButtons = document.querySelectorAll(`#turmas-container-${schoolId} button`);
            turmaButtons.forEach(button => {
                button.classList.remove('selected');
            });
        }

      function selecionarTurma(button, inputId) {
            const inputTurma = document.getElementById(inputId);

            if (button.classList.contains('selected')) {
                button.classList.remove('selected');
                inputTurma.disabled = true;
            } else {
                button.classList.add('selected');
                inputTurma.disabled = false;
            }
        }

        function updatePriorities() {
            usedPriorities = {};
            document.querySelectorAll('[id^="prioridade-"]').forEach(select => {
                const value = select.value;
                if (value) {
                    usedPriorities[value] = true;
                }
            });

            document.querySelectorAll('[id^="prioridade-"]').forEach(select => {
                const currentValue = select.value;
                while (select.firstChild) {
                    select.removeChild(select.firstChild);
                }
                const emptyOption = document.createElement('option');
                emptyOption.value = "";
                emptyOption.textContent = "Selecione";
                emptyOption.selected = currentValue === "";
                select.appendChild(emptyOption);
                for (let i = 1; i <= 5; i++) {
                    if (!usedPriorities[i] || currentValue === `${i}`) {
                        const option = document.createElement('option');
                        option.value = i;
                        option.textContent = i;
                        if (currentValue === `${i}`) {
                            option.selected = true;
                        }
                        select.appendChild(option);
                    }
                }
            });
        }
    </script>
    
<script>
    function logInteracaoCheckbox(texto) {
        const logContainer = document.getElementById('log-interacoes');
        const novaLinha = document.createElement('p');
        novaLinha.textContent = texto;
        logContainer.appendChild(novaLinha);
    }

    // Monitora seleção de escolas
    function handleSchoolSelection(checkbox) {
        const escolaId = checkbox.value;
        if (checkbox.checked) {
            logInteracaoCheckbox(`Escola marcada: ID = ${escolaId}`);
        } else {
            logInteracaoCheckbox(`Escola desmarcada: ID = ${escolaId}`);
        }

        const turmasContainer = document.getElementById(`turmas-container-${escolaId}`);
        if (checkbox.checked) {
            turmasContainer.style.display = "block";
        } else {
            turmasContainer.style.display = "none";
        }
    }

    // Monitora seleção de turmas
        function handleTurmaSelection(checkbox) {
        const turma = checkbox.value;
        const escolaId = checkbox.name.split('-')[2];
        if (checkbox.checked) {
            logInteracaoCheckbox(`Turma marcada: ${turma}, Escola ID = ${escolaId}`);
        } else {
            logInteracaoCheckbox(`Turma desmarcada: ${turma}, Escola ID = ${escolaId}`);
        }
    }
</script>
<!--
<div id="log-interacoes" style="margin-top: 20px; border: 1px solid #000; padding: 10px;">
    <h3>Log de Interações</h3>
    -->
</div>

</body>
</html>
