<!-- /templates/professor_atualizado.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualização Bem-Sucedida</title>
    <style>
        button {
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <h1>{{ mensagem }}</h1>
    <button onclick="window.location.href='/professor/'">Voltar</button>
</body>
</html>

